/* import fonts */

@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

/* set base font size for easy pixel to rem conversions 10px = 1rem */

html {
  font-size: 62.5%;
}
/* font classes */
.montserrat {
  font-family: "Montserrat", sans-serif;
}

.fraunces {
  font-family: "Fraunces", serif;
}

/* mobile display 375px x 667px */

body {
  background-color: #f2eae2;
  min-width: 37.5rem;
  min-height: 66.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

section {
  background-color: white;
  min-width: 34.3rem;
  min-height: 61.1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  margin-left: 1.6rem;
  margin-right: 1.6rem;
  margin-top: 2.8rem;
  margin-bottom: 2.8rem;
}

img {
  min-width: 34.3rem;
  min-height: 24rem;
  margin-bottom: 2.4rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

h1,
h2,
p {
  margin-left: 2.4rem;
  margin-right: 2.4rem;
  max-width: fit-content;
}

h1 {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
  color: #6C7289;
}

h2 {
  font-size: 3.2rem;
  line-height: 3.2rem;
  margin-right: 3.2rem;
  margin-top: 1.2rem;
  margin-bottom: 0%;
  color: #1c232b;
}

p {
  font-size: 1.4rem;
  line-height: 2.3rem;
  font-weight: 500;
}

.pricing {
  margin-bottom: 0%;
  margin-top: 2.4rem;
}

.sale-price {
  color: #3d8168;
  font-size: 3.2rem;
  font-weight: 700;
}

.price {
  color: #6C7289;
  margin-left: 1.9rem;
  text-decoration: line-through;
}

p.montserrat {
  margin-bottom: 0%;
  color: #6C7289;
}

button {
  background-color: #3d8168;
  color: white;
  border-radius: 0.8rem;
  width: 29.5rem;
  height: 4.8rem;
  border: white;
  margin-left: 2.4rem;
  margin-right: 2.4rem;
  margin-bottom: 2.4rem;
  margin-top: 2rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0%;
  font-family: "montserrat";
}

.icon {
  min-width: 1.1439rem;
  min-height: 1.6rem;
  margin-right: 1.16rem;
  margin-top: 2.4rem;
}

/* Desktop display 1440px x 800px*/

/* @media screen and (min-width: 1440px) { */
  @media screen and (min-width: 600px) {
  section {
    flex-direction: row;
    min-width: 60rem;
    min-height: 45rem;
    width: 60rem;
    max-height: 45rem;
    margin-top: 17.5rem;
    margin-bottom: 17.5rem;
  }

  .product-image {
    content: url(./images/image-product-desktop.jpg);
    min-width: 30rem;
    width: 30rem;
    min-height: 45rem;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
    border-bottom-left-radius: 1rem;
  }

  .product-description {
    min-width: 30rem;
  }

  h1 {
    margin-top: 3.2rem;
  }

  h2 {
    margin-top: 2rem;
  }

  h1,
  h2,
  p,
  button {
    margin-left: 3.2rem;
  }

  p.montserrat {
    margin-top: 2.4rem;
  }

  .pricing {
    margin-top: 2.9rem;
  }

  button {
    margin-top: 3rem;
    margin-bottom: 3.2rem;
    margin-right: 3.2rem;
    width: 23.6rem;
  }

  button:hover {
    background-color: #1a4032;
  }
}
